body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    /*background-image: url('./img/808.gif');*/
}


#search{
    float:right;
    margin: 18px 0 0 9px;
    padding: 0 0 0 0;
}

.twitter-logo{
    width: 20px;
    height: 20px;
    float:right;
}

.facebook-logo {
    margin: 20px 0 0 0;
    width: 20px;
    height: 20px;
    float: right;
}

#main-header{
    margin: 0 0 0 0;
}


#header-name {
    float:left;
    padding: 0px 0 0 0;
    width: 100%;
    height: 122px;
}

#header-text {
    padding: 9px 0 0 0;
    font-size: 36px;
    color: #0399f4;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    /*background-image: url('./img/tr909banner.jpg');
    background-size: 100% 100%;*/
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}

#banner-image {
    width: 500px;
    height: 300px;
    float: left;
}

